<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>PageGrab</title>
  <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:bold' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/noisy.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/app.js"></script>
</head>
<body>
  <div id="header">Page<span style="color:#993333;">Grab</span></div>
  <ul id="instructions">
    <li>
      Register / Log in
      <form>
        <input type="text" name="email" value="email" id="email">
        <input type="password" name="password" value="password" id="password">
        <input type="submit" value="Connect" id="register" style="font-size:50px;color:#993333;">
        <span id="register-status"></span>
      </form>    
    </li>
    <li>Enter some web sites</li>
    <li>Receive daily emails</li>
  </ul>
  <div id="footer">Copyright 2011 PageGrab.it | A project by Mark Fayngersh</div>
</body>
</html>